{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Upload Files</title>
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
     <link rel ='stylesheet' href="{% static 'js/bootstrap.min.js'%}">
     <link rel ='stylesheet' href="{% static 'js/bootstrap.js'%}">
     <link rel ='stylesheet' href="{% static 'js/jquery.js'%}">
     <link rel ='stylesheet' href="{% static 'js/bootstrap-dropdown.js'%}">
     <link rel ='stylesheet' href="{% static 'js/bootstrap.min.js'%}">
     <link href="{% static 'css/sigin.css'%}" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous">
     </script>

</head>
<style>   

</style>

<body class="text-center">
    
     <main class="form-signin">
       <form method="post" enctype="multipart/form-data" name="fname">
          {% csrf_token %}
          <img class="mb-4" src="{% static 'picture/logo.png'%}" alt="" width="72" height="57">
     
          <div class="form-floating">
               
               <input type="text" class = 'form-group' id="fname" name="fname" style="text-transform:uppercase;" placeholder= 'Please input stock name' required>
          </div>
          </br>
          
          <div class="form-floating">              
               Start Time: <input type="date" class = 'form-group' id="start" name="start" placeholder= 'Please input start time'>
               <p></p>
               End Time: <input type="date" class = 'form-group' id="end" name="end" placeholder= 'Please input end time'>
          </div>
          </br>
          <div class="form-check">
               <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value='Close' checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Close
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value = 'Ad_Close'>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Adjust Close
                    </label>
               </div>
          </br>
          <div class="dropdown">
               <select class="form-select" aria-label="Default select example" name = 'strategy' id = "TypeOfConstruction" required>
                    <option value=''>Open this select strategy</option>
                    <option value="three_days_line">three_days_line</option>
                    <option value="sam_ris">sam_ris</option>
                    <option value="bbands">BBands</option>
                    <option value="Sma_St">SMA</option>
                    <option value="Double_SMA">Double_SMA</option>
               </select>               
          </div>         
          </br>
          <div class="form-group" id="timber-frame-fieldset"  style="display:none;">
               <label for="PartyWalls">Please input period (EX: 5,20,35)</label>
                   <br><input type="input" name = 'period'> 
          </div>
          </br>
          <div class="form-group" id="double_period"  style="display:none;">
               <label for="PartyWalls">Please input period (SMA2>SMA1)</label>
                   <br>SMA1: <input type="input" name = 'period1'> </br>
                   <br>SMA2: <input type="input" name = 'period2'> 
          </div>
          </br>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
          </form>
     </main>

<script>
     $(document).ready(function(){
          $("#TypeOfConstruction").on("change", function(e){
            var v = $(this).val();
            if(v == 'Sma_St') {
              $("#timber-frame-fieldset").slideDown();
            } else {
              $("#timber-frame-fieldset").slideUp();
            }
            if (v =='Double_SMA'){
              $("#double_period").slideDown();
            } else{
              $("#double_period").slideUp();
          }
          });
        });

</script>
</body>
</html>